<launch>
  
  

<arg name="ns1" default="robot1"/>
<arg name="open_rviz" default="false" />

<arg name="yaw" default="0.0"/>
	<group ns="/$(arg namespace)">
		<include file="$(find neuronbot2_multibot)/launch/gmapping_genaral.launch">
		</include>
		<include file="$(find neuronbot2_nav)/launch/navigation.launch">
			<arg name="namespace" value="$(arg namespace)"/>
		</include>
	</group>
	<group if="$(arg open_rviz)">
		<node name="rviz" pkg="rviz" type="rviz" args="-d $(find neuronbot2_nav)/rviz/view_navigation.rviz" />
	</group>
</launch>




    
   

    
    
    
    

